@model Introducao.Models.Pessoa

@{
    ViewBag.Title = "Index";
}

<h2>Curso de Asp MVC</h2>
<p>Aprendendo MVC com C#</p>

<br />
<br />
<h4>Utilizando o ViewData</h4>
<p>
    O meu id é @ViewData["PessoaId"] <br />
    Meu nome é @ViewData["Nome"]<br />
    Eu sou um @ViewData["Tipo"]
</p>
<hr />
<h4>Utilizando o ViewBag</h4>
<p>
    O meu id é @ViewBag.id<br />
    Meu nome é @ViewBag.nome<br />
    Eu sou um @ViewBag.tipo
</p>
<hr />
<h4>Utilizando a model tipada</h4>
<br />
@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{
@*<form action="Home/Lista" method="post">*@
    <fieldset>
        <legend>Informações de Pessoas</legend>
        <div>
            @Html.LabelFor(x => x.PessoaId)
        </div>
        <div>
            @Html.EditorFor(x => x.PessoaId)
            @*<input type="number" value="@Model.PessoaId" name="PessoaId" />*@
        </div>
        <div>
            @Html.LabelFor(x => x.Nome)
        </div>
        <div>
            @Html.EditorFor(x => x.Nome)
            @*<input type="text" value="@Model.Nome" name="Nome" />*@
        </div>
        <div>
            @Html.LabelFor(x => x.Tipo)
        </div>
        <div>
            @Html.EditorFor(x => x.Tipo)
            @*<input type="text" value="@Model.Tipo" name="Tipo" />*@
        </div>
        <br />
        <p><input type="submit" value="Enviar" /></p>
    </fieldset>
@*</form>*@
}



